{% extends "base.html.twig" %}


{% block title %}Bibliothèque - Dashboard
{% endblock %}


{% block body %}
	<div class="container">
		<h1>Dashboard</h1>
		<a href="{{ path('search') }}" type="submit" class="btn btn-primary mt-4">Ajouter un livre</a>
		<p>Users</p>
	</div>

{% endblock %}
