{% extends "base.html.twig" %}


{% block title %}
	Bibliothèque - Inscription
{% endblock %}

{% block body %}
	<div class="container mt-4">
		<h1>Inscription</h1>
		{{ form (form) }}

		</div>


	{% endblock %}
